* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: Arial, sans-serif;
}

button.active {
    background-color: #4CAF50;
    color: white;
  }
.meio {
    height: 100vh;
    background-color: bisque;
}
.noticia {
    width: 90%;
    background-color: bisque;
    height: 100%;
    padding: 20px;
    border-radius:solid;
}

input {
    text-align: center;
    display: flex;
    margin: 5px 0;
    padding: 10px;
    border-radius: 10px; 
    border: 1px solid #ccc; 
    width: 200px; 
    
    
}

.div {
    margin-top: 1%;
    display: grid;
    place-items: center;
}

p {
    width: 200px;
    text-align: left;
    font-size: 20px;
    margin-bottom: 5px; 
}

button {
    margin-top: 10px;
    padding: 10px 20px; 
    border-radius: 10px;
    background-color: #4CAF50; 
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049; 
}

.mensagem {
    background-color: #fff3cd;
    color: #856404;
    padding: 10px;
    border: 1px solid #ffeeba;
    border-radius: 5px;
    margin-bottom: 20px;
    text-align: center;
}
