.cabecalho {
    background-color: #333; /* Cor de fundo do cabeçalho */
    padding: 10px 20px; /* Espaçamento interno */
    display: flex; /* Usar flexbox para o layout */
    justify-content: space-between; /* Espaçar o conteúdo do cabeçalho */
    align-items: center; /* Alinhar itens verticalmente */
}

.estilo {
    color: white; /* Cor do texto do título */
}

.botao-titulo {
    color: white; /* Cor do texto do botão */
    text-decoration: none; /* Remove o sublinhado */
    font-size: 24px; /* Tamanho da fonte */
    padding: 8px 15px; /* Espaçamento interno para parecer um botão */
    border: 2px ; /* Borda branca */
    border-radius: 5px; /* Arredonda as bordas */
    transition: background-color 0.3s, color 0.3s; /* Transições suaves */
}

.botao-titulo:hover {
    background-color: #575757; /* Cor de fundo ao passar o mouse */
    color: white; /* Cor do texto ao passar o mouse */
}

ul {
    list-style-type: none; /* Remove os marcadores da lista */
    margin: 0; /* Remove a margem padrão */
    padding: 0; /* Remove o preenchimento padrão */
    display: flex; /* Usar flexbox para dispor os itens em linha */
}

li {
    margin-left: 20px; /* Espaçamento entre os itens da lista */
}

a {
    color: white; /* Cor do texto do link */
    text-decoration: none; /* Remove o sublinhado dos links */
    padding: 8px 12px; /* Espaçamento interno nos links */
    transition: background-color 0.3s; /* Suaviza a transição de cor */
}

a:hover {
    background-color: #575757; /* Cor de fundo ao passar o mouse */
    border-radius: 5px; /* Arredonda as bordas */
}
